@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
}

p{
    font-size: 12px;
    color: --textos;
}

h1{
    font-size: 26px;
}



