/*--------ESTILO PARA EL ARCHIVO GENERALES.HTML--------*/
/*--------BARRA MENU--------*/
.barra-menu-generales{
    display: flex;
    padding: 10px;
    background-color: var(--fondo-Menu);
    list-style: none;
    align-items: baseline;
    margin: 0px;
    gap: 10px;
}
.inicio {
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}

.inicio:hover {
    color: var(--textos);
}
.fa-magnifying-glass{
    padding-right: 7px;
}

.filtrar {
    background-color: white;
    border-radius: 15px;
    padding: 6px 15px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: var(--textos);
    text-decoration: none;
}

.limpiarFiltros {
    background-color: white;
    border-radius: 15px;
    padding: 6px 15px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: var(--textos);
    text-decoration: none;
}

.menuinformes{
    text-decoration: none;
    border: solid 1px;
    padding: 5px 15px;
    font-size: 10px;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
}

.menuinformes:hover{
    background-color: var(--gris-claro);
}
.menuinicio {
    text-decoration: none;
    background-color: var(--gris-claro);
    border-radius: 5px;
    padding: 5px 25px;
    font-size: 10px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    position: static;
    
}

.paso{
    border: none;
    background-color: var(--magenta);
    border-radius: 8px;
    padding: 5px 25px;
    color: #FFF;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    min-width: 80px;
    margin-left: 5px;
    text-decoration: none;
}
.filter{
    background-color: var(--fondo-Menu);
    color: var(--celeste);
    border: none;
}

/*--------MENSAJES--------*/
#msgexito{
    background-color: var(--mensaje-usuario-verde);
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

#msgerror{
    background-color: var(--mensaje-usuario-rojo);
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}

#msgnocomplet{
    background-color: var(--mensaje-usuario-amarillo);
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
}


/*--------CONTENIDO--------*/
#sec-titulo{
    margin-left: 20px;
}


.texto-path {
    font-size: 14px;
    color: var(--celeste);
}

#sec-contenido {
    display: flex;
    justify-content: space-between;
}

.cajcuadros {
    display: flex;
}

.subtitle {
    font-size: 14px;
    color: var(--celeste);
}

/*--------RECUADROS DE RESUMEN DE INFORMACION EMPIEZA--------*/

.cuadrosInformativos {
    display: flex;
    border-radius: 10px;
    margin: 15px;
    height: 70px;
    width: 184px;
    padding: 0.5rem 1rem;
    font-size: 12px;
}

.cuadrosInformativos p {
    color: white;
}

.mesas-escrutadas {
    background-color: var(--celeste);
}

.electores {
    background-color: var(--magenta);
}

.escrutado {
    background-color: var(--morado);
}

.agrInforme {
    background-color: var(--gris-claro);
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 5px 50px;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    height: 30px;
}

.agrInforme:hover {
    color: var(--textos);
}

.cuadrosPrincipal {
    display: flex;
    justify-content: center;
}

.agrup-polit{
    height: 325px;
    width: 500px; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    overflow: auto;
    font-family: 12px;
    border-radius: 25px;
    overflow: scroll;
    margin: 25px;
}

/*--------AGRUPACION POLITICA--------*/
.progress {
    height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.progress-bar {
    display: flex;
    align-items: center;
    transition: width 0.25s;
    height: 100%;
    border-radius: 5px;
    background-color: var(--grafica-amarillo);
}
  
.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: var(--textos);
    font-size: 9px;
    margin: 50%;
}

.progress-bar-eco {
    display: flex;
    align-items: center;
    transition: width 0.25s;
    height: 100%;
    border-radius: 5px;
    background-color: var(--grafica-verde);
}


.peso {
    color: var(--textos);
    font-size: 11px;
    padding: 5px;
    text-transform: uppercase;
}

.subTitulo {
    font-weight: bold;
}

.partidos {
    display: flex;
    justify-content: space-between;
}

.mapaBox {
    margin: 25px;
}


/*--------CUADROS--------*/
/*----EMPIEZA----*/


.tituloAgrup {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--borde-Grilla);
}

.title {
    font-weight: bold;
    padding: 1.8rem 0 0 0;
    text-align: center;
    white-space: nowrap;
}

.cuadros {
    border-radius: 25px;
    padding: 10px;
    border: 1px var(--borde-Grilla) solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.mapa {
    display: flex;
}

/*--------RESUMEN DE VOTOS--------*/
/*----EMPIEZA----*/

.chart-wrap {
    height: 325px;
    width: 500px; 
    background-color: #FFF;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    font-family: 12px;
    border-radius: 25px;
    margin: 25px;
    --bar-thickness: 25px;
    --bar-spacing: 10px;
    --grid-color: #aaa;
    --bar-rounded: 3px;
    --chart-width: 260px;
    
}

.chart-wrap .title {
    font-weight: bold;
    padding: 1.8em 0 2.8em;
    text-align: center;
    white-space: nowrap;
}


.chart-wrap.horizontal .grid {
    transform: rotate(-90deg);

}

.chart-wrap.horizontal .bar::after {
    transform: rotate(45deg);
    padding-top: 0px;
    display: block;
}

.chart-wrap .grid {
    margin-left: 50px;
    position: relative;
    padding: 5px 0 5px 0;
    height: 50%;
    width: 50%;
    border-left: 2px solid var(--grid-color);
    font-size: 10px;
    align-items: center;
    justify-content: center;
}
.chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: '0%';
    position: absolute;
    left: -1.5em;
    top: -1.5em;
}

.chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: '100%';
    position: absolute;
    right: -1.5em;
    top: -1.5em;
}

.chart-wrap.horizontal .grid::before,
.chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
}

.chart-wrap .bar {
    width: var(--bar-value);
    height: var(--bar-thickness);
    margin: var(--bar-spacing) 0;
    background-color: var(--bar-color);
    border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover {
    opacity: 0.7;
}

.chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
}

#card{
    background-color: var(--mensaje-usuario-amarillo);
    color: #FFF;
    font-weight: bold;
    align-items: center;
    width: 410px;
    margin-left: 20px;

}
#anio {
    max-width: 65px;
}

#cargo {
    max-width: 60px;
}

#distrito {
    max-width: 75px;
}

#seccion {
    max-width: 70px;
}

#card-menu{
    background-color: var(--mensaje-usuario-amarillo);
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    color: #5a5959;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    
}
#nombreMapa{
    text-align: center;
}
