#mesas-escrutadas{
    background-color: rgb(21, 156, 235);
    padding: 0.5rem 1rem;
    width: 184px;
    border-radius: 10px;
    height: 70px;
    margin: #FFF, 15px;
    font-size: 12px;
    
}

#electores{
    background-color: magenta;
    padding: 0.5rem 1rem;
    width: 184px;
    border-radius: 10px;
    height: 70px;
    margin: #FFF, 15px;
    font-size: 12px;
}

escrutado{

}

.agrup-polit{
    width: 300px; 
    height: 325px; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    overflow: auto;
    font-family: 12px;
}

.mapa{
    width: 300px; 
    height: 325px; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    overflow: auto;
}

.chart-wrap {
    --chart-width: 260px;
    --grid-color: #aaa;
    --bar-thickness: 25px;
    --bar-rounded: 3px;
    --bar-spacing: 10px;
    font-family: sans-serif;
    width: var(--chart-width);
    }
    .chart-wrap .title {
    font-weight: bold;
    padding: 1.8em 0 2.8em;
    text-align: center;
    white-space: nowrap;
    }
    /* cuando definimos el gráfico en horizontal, lo giramos 90 grados */
    .chart-wrap.horizontal .grid {
    transform: rotate(-90deg);
    }
    .chart-wrap.horizontal .bar::after {
    /* giramos las letras para horizontal*/
    transform: rotate(45deg);
    padding-top: 0px;
    display: block;
    }
    .chart-wrap .grid {
    margin-left: 50px;
    position: relative;
    padding: 5px 0 5px 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid var(--grid-color);
    font-size: 10px;
    }
    /* posicionamos el % del gráfico*/
    .chart-wrap .grid::before {
    font-size: 0.8em;
    font-weight: bold;
    content: '0%';
    position: absolute;
    left: -0.5em;
    top: -1.5em;
    }
    .chart-wrap .grid::after {
    font-size: 0.8em;
    font-weight: bold;
    content: '100%';
    position: absolute;
    right: -1.5em;
    top: -1.5em;
    }
    /* giramos las valores de 0% y 100% para horizontal */
    .chart-wrap.horizontal .grid::before,
    .chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
    }
    .chart-wrap .bar {
    width: var(--bar-value);
    height: var(--bar-thickness);
    margin: var(--bar-spacing) 0;
    background-color: var(--bar-color);
    border-radius: 0 var(--bar-rounded) var(--bar-rounded) 0;
    }
    .chart-wrap .bar:hover {
    opacity: 0.7;
    }
    .chart-wrap .bar::after {
    content: attr(data-name);
    margin-left: 100%;
    padding: 10px;
    display: inline-block;
    white-space: nowrap;
    }

    table{
        overflow: auto;
        border-radius: 5px;
    }